<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Category" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div>
    <form nz-form [formGroup]="addCategoryForm">
      <nz-form-item>
        <label>Name <span class="manditory">*</span></label>
        <nz-form-control nzErrorTip="Please input Name!">
          <nz-input-group>
            <input formControlName="name" nz-input placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">Add Category</button>
  </div>
</nz-modal>