<nz-header>
    <div class="app-header">
        <div nz-row nzJustify="center">
            <a target="_blank">
              <!-- <img style="width: 120px; height: 60px;" src="https://res.cloudinary.com/dswejuv8l/image/upload/v1610397702/Group_1899.svg" alt="logo"> -->
            </a>
        </div>
        <!-- <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col [nzSpan]="20">
                <span class="header-trigger" (click)="ToggleIt()">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div>
            <div nz-col [nzSpan]="4">
                <ul nz-menu [nzMode]="'horizontal'">
                    <li nz-submenu>
                        <span title>
                            <i nz-icon nzType="user" nzTheme="outline"></i>
                            admin</span>
                        <ul>
                            <li nz-menu-item (click)="signOut()">Sign out</li>
                            <li nz-menu-item routerLink="/admins/view/{{LoggedInUser && LoggedInUser.userID}}">Profile</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</nz-header>