<div nz-row nzJustify="center">
    <div nz-col nzXl="24">
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Tag" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <div>
                <form nz-form [formGroup]="updateTagForm" (ngSubmit)="handleOk()">
                    <nz-form-item>
                        <label for="name">Name <span class="manditory">*</span></label>
                        <nz-form-control nzErrorTip="Please input tag name!">
                            <nz-input-group nzPrefixIcon="user">
                                <input formControlName="name" nz-input placeholder="Name" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
            <div *nzModalFooter>
                <button nz-button nzType="default" (click)="handleCancel()">cancel</button>
                <button nz-button nzType="primary" (click)="handleOk()">Update Tag</button>
            </div>
        </nz-modal>
    </div>
</div>